.booking_page{
    width: 800px;
    margin: 10px auto;
}

.booking_card {
    width: 780px;
    border: 1px solid #909090;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 10px 10px 10px 10px;
}

@media screen and (max-width: 700px) {
    .booking_page{
        width: 400px;
        margin: 10px auto;
    }

    .booking_card {
        width: 380px;
    }
}