.btn100{
    width: 84px;
    height: 25px;
    float: left;
    margin-left: 8px;
    margin-top: 25px;
    cursor: pointer;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid black;
    background: white;
    color: black;
}

.btn100:hover{
    background: #f58220;
    color: white;
}