.detail_page{
    background: #cdcdcd;
    width: 1200px;
    margin: 10px auto;
}

@media screen and (max-width: 700px) {
    .detail_page {
        width: 400px;
        margin: 0 auto;
    }
}

.detail_area{
    width: 380px;
    margin: 8px;
    height: 380px;
    overflow: hidden;
    float: left;
    border: 2px solid black;
    border-radius: 10px 10px 10px 10px;
}

.detail_area.r{
    width: 780px;
    margin: 8px;
    height: 380px;
    overflow-y: auto;
    float: right;
    border: 2px solid black;
    border-radius: 10px 10px 10px 10px;
}

.detail_area.h{
    height: 200px;
    overflow-y: auto;
}

.detail_line{
    width: 780px;
    padding-left: 30px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    overflow: hidden;
    color: black;
    float: left;
}

.yellow{
    color: #f58220;
}

@media screen and (max-width: 700px) {
    .detail_area{
        width: 380px;
        margin: 8px;
        height: 380px;
    }

    .detail_area.r{
        width: 380px;
        margin: 8px;
        float: left;
    }

    .detail_line{
        width: 380px;
    }
}

.detail_line_tag{
    width: 80px;
    height: 30px;
    margin-right: 10px;
    margin-top: 5px;
    line-height: 30px;
    font-size: 16px;
    text-align: center;
    overflow: hidden;
    color: white;
    background: #909090;
    float: left;
}

.detail_line.title{
    margin-bottom: 10px;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    color: white;
    font-size: 24px;
    text-align: left;
    font-weight: bold;
    background: #777777;
    float: left;
}

.detail_img{
    width: 380px;
    height: 380px;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
}

.bedroom_card {
    width: 175px;
    height: 125px;
    border-radius: 10px 10px 10px 10px;
    float: left;
    margin: 10px;
    border: 2px solid black;
    background: white;
    color: black;
    line-height: 100px;
    font-size: 20px;
    overflow: hidden;
}

.bedroom_card_line {
    width: 175px;
    height: 60px;
    background: #909090;
    line-height: 60px;
    text-align: center;
    color: white;
}

.bedroom_card_line.text {
    background: white;
    width: 175px;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    color: black;
}


.review_card {
    width: 350px;
    float: left;
    margin: 10px;
    border: 2px solid black;
    background: white;
    color: black;
    line-height: 50px;
    font-size: 16px;
    overflow: hidden;
}

.review_card_line {
    width: 100px;
    float: left;
    height: 50px;
    margin-right: 20px;
    background: #909090;
    line-height: 50px;
    text-align: center;
    color: white;
}

.center{
    text-align: center;
}